# .env.example — copiad este fichero como .env y rellenad los valores
# NUNCA subáis el .env real al repositorio

GCP_PROJECT_ID=ds-Temuzon
BQ_DATASET_ID=BQ_DATASET_TEMUZON
GOOGLE_APPLICATION_CREDENTIALS=./credentials/ds-temuzon-6c70d7330cf2.json
